
body{
    padding: 0;
    margin: 0;
}
.pantalla{
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
    margin-top: 10%;
    
}

.calculadora{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(5, 50px); /*5 columnas de 50px*/
    grid-template-rows: minmax(50px, auto) repeat(5, 50px); /*tamaño de 50px repetido 5 veces*/
    min-height: 35vh;
   
}

.calculadora > button{
    cursor: pointer;
    border-radius: 10%;

}

.boton-igual > button{
    width: 50px;
    height: 100px;
    cursor: pointer;
    border-radius: 10%;
}

.boton-cero > button{
    width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 10%;
}

.boton-punto > button{
    width: 50px;
    height: 50px;
    margin-left: 50px;
    cursor: pointer;
    border-radius: 10%;
}